<form [formGroup]="movieForm">
  <input type="text" placeholder="Name" formControlName="name" />
  <input type="text" placeholder="Image URL" formControlName="image" />
  <input type="text" placeholder="Genre" formControlName="genre" />
  <input type="text" placeholder="Release Year" formControlName="releaseYear"/>
  <div class="action-row flex space-between">
    <button (click)="cancel()">Cancel</button>
    <div class="submit-buttons">
      <button [disabled]="!movieForm.valid" type="submit" (click)="saveMovie()">Save</button>
      @if (!movie) {
        <button [disabled]="!movieForm.valid" type="submit" (click)="saveAndAddAnother()">Save and Add Another</button>
      }
    </div>
  </div>
</form>
