<!--if there are movies then show them in the DOM-->
@if (movies$ | async; as movies) {
  <ul [@listAnimation]="movies">
    @for (movie of movies; track movie) {
      <li>
        <a [routerLink]="movie.id">
          <img [src]="movie.image" />
        </a>
      </li>
    }
  </ul>
} @else {
  <ul [@listAnimation]="loadingMovies.length">
    @for (movie of loadingMovies; track movie) {
      <li
        [@listAnimation]="loadingMovies.length"
        >
        <img src="/assets/movie.png" />
      </li>
    }
  </ul>
}

